:root {
    --primary-color: #F15B22;
    --heading-color: #151414;
    --secondary-color: #444343;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    font-family: 'Work Sans', sans-serif;
}

.header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
}

.header-banner {
    margin: 100px 150px;
    width: 525px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;

}

.banner-heading {
    color: var(--heading-color);
    font-size: 65px;
    font-weight: 700;
    text-align: right;

}

.header-banner>p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    line-height: 26px;
}

.header-banner>button {
    background-color: var(--primary-color);
    padding: 10px 15px;
    text-align: right;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.header-banner>button:hover {
    background: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

}

main {
    max-width: 11500px;
    margin: auto;
}

main section {
    padding: 10px 150px;
    margin: 100px 0px;
}

.hero-section {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 500px;
    margin: 20px 100px;
    gap: 10px;
}

.hero-details>.hero-title {
    color: var(--heading-color);
    font-size: 40px;
    font-weight: 700;
}

.hero-details>p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.hero-details>li {
    list-style-type: none;
    padding: 5px;
}

.plan-section {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    gap: 50px;
}

.plan-section>h3 {
    color: var(--heading-color);
    font-size: 40px;
    font-weight: 700;
    text-align: center;

}

.plan-section>.plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.plan-section>.plans>.individual-plan {
    text-align: center;
}

.plan-section>.plans>.individual-plan>h3 {
    color: var(--heading-color);
    font-size: 30px;
    font-weight: 700;
}

.plan-section>.plans>.individual-plan>p {
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 500;
}

.contact-section {
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: start;
    justify-content: start;
    position: relative;
}

.contact-section>img {
    z-index: 1;
}

.contact-details {
    position: absolute;
    display: flex;
    gap: 20px;
    flex-direction: column;
    z-index: 10;
    align-items: start;
    padding: 40px;
}

.contact-heading {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    width: 500px;

}

.contact-btn {
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.contact-btn:hover {
    background: rgb(233, 233, 233);
    color: var(--primary-color);

}

footer {
    background-color: var(--heading-color);
    margin-top: 100px;
    padding: 100px 150px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: white;
}

footer>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    
    width: 500px;
}

footer>.info>h3 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

footer>.info>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

footer>.info>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 0px;
    
}

footer>.subscribe>h3 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

footer>.subscribe>input[type="email"] {
    width: 300px;
    padding: 20px;
    background: transparent;
    border: 1px solid white;
}

footer>.subscribe>button {
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}